@import "/home/rapha/.config/colors/colors.css";
*{
    font-size: 14px;
    font-family: "JetBrains Mono Extrabold";
}



/*---------- Essentials ----------*/

window#waybar {
	background: transparent;
}

.modules-left, .modules-center, .modules-right {
	padding: 5px;
	margin: 2px;
	border-radius: 20px;
	background: alpha(@base,.85);
	box-shadow: 0px 0px 2px alpha(@mantle,.6);
	border: 1px solid @crust;
}

tooltip, tooltip label {
	background: alpha(@base,.25);
	color: @text;
	border-radius: 15px;
}



/*---------- Workspaces ----------*/

#workspaces button {
	border-radius: 15px;
	padding: 0px 10px;
	margin: 0px 2px;
	min-width: 20px;
	color: @crust;
	background: alpha(@subtext1,.3);
	text-shadow: 0px 0px 2px alpha(@mantle,.5);
	border: 1px solid @crust;
	transition: all .5s ease-in-out;
}
#workspaces button:hover, #workspaces button.empty:hover {
	color:alpha(@green,.6);
	text-shadow: 0px 0px 2px alpha(@teal,.3);
	border: 1px solid alpha(@green,.65);
}
#workspaces button.active {
	color: @crust;
	background: linear-gradient(135deg, @mauve 10%, @blue 40%, @sky 60%, @green 100%);
	text-shadow: 0px 0px 2px alpha(@mantle,.5);
	border: 1px solid @green;
}
#workspaces button.empty {
	color: alpha(@subtext0,.3);
	background: alpha(@mantle,.25);
	text-shadow: 0px 0px 1.5px alpha(@overlay2,.15);
	border: 1px solid alpha(@subtext0,.05);
}
#workspaces button.empty.active {
	color: @green;
	background: linear-gradient( 135deg, alpha(@mauve,.3) 10%, alpha(@blue,.3) 40%, alpha(@sky,.3) 60%, alpha(@green,.3) 100%);
	text-shadow: 0px 0px 2px alpha(@teal,.5);
	border: 1px solid @green;
}
#workspaces button.urgent {
	color: alpha(@red,.75);
}



/*---------- Groups modules ----------*/

#custom-power, #battery, #backlight, #pulseaudio, #network, #bluetooth {
	padding: 0px 5px;
	color: alpha(@crust,.6);
	text-shadow: 0px 0px 2px alpha(@mantle,.3);
	transition: all .3s ease;
}
#battery:hover, #backlight:hover, #pulseaudio:hover, #network:hover, #bluetooth:hover {
	padding: 0px 5px;
	color: @crust;
	text-shadow: 0px 0px 2px alpha(@mantle,.5);
}

#custom-power:hover {
	color: @red;
	text-shadow: 0px 0px 2px alpha(@mantle,.5);
}

#battery.charging, #battery.plugged {
	color: @green;
	text-shadow: 0px 0px 3px @crust;
}
#battery.warning:not(.charging) {
	color: @orange;
	text-shadow: 0px 0px 3px @crust;
}
#battery.critical:not(.charging) {
	color: @red;
	text-shadow: 0px 0px 3px @crust;
	animation: blink 1s linear infinite;
	animation: pulse 1300ms infinite;
}
@keyframes pulse {
	0% {
		color: alpha(@red,.3);
	}
	50% {
		color: alpha(@red,.7);
	}
}



/*---------- Groups ----------*/

#system, #sliders, #connection, #tray {
	border-radius: 15px;
	padding: 0px 6px 0px 4px;
	transition: all .5s ease;
}

#system {
	background: linear-gradient( 135deg, alpha(@teal,.7) 30%, alpha(@green,.7) 100%);
	border: 1px solid @green;
}
#system:hover {
	background: linear-gradient( 135deg, alpha(@teal,1) 30%, alpha(@green,1) 100%);
}

#sliders {
	background: linear-gradient( 135deg, alpha(@sapphire,.7) 30%, alpha(@sky,.7) 100%);
	border: 1px solid @sky;
}
#sliders:hover {
	background: linear-gradient( 135deg, alpha(@sapphire,1) 30%, alpha(@sky,1) 100%);
}

#connection {
	background: linear-gradient( 135deg, alpha(@lavender,.7) 30%, alpha(@blue,.7) 100%);
	border: 1px solid @blue;
}
#connection:hover {
	background: linear-gradient( 135deg, alpha(@lavender,1) 30%, alpha(@blue,1) 100%);
}

#custom-expand{
	padding: 0px 5px;
	color: @text;
	text-shadow: 0px 0px 3px @subtext1;
	transition: all .3s ease; 
}

#custom-expand:hover{
	color: @green;
	text-shadow: 0px 0px 3px @teal;
}



/*---------- Tray ----------*/

#tray{
	background: linear-gradient( 135deg, alpha(@red,.7) 5%, alpha(@mauve,.7) 100%);
	border: 1px solid @mauve;
	transition: all .3s ease; 
}
#tray menu * {
	padding: 0px 5px;
}
#tray menu separator {
	padding: 0px 5px;
}



/*---------- Customs ----------*/

#custom-notification:hover, #clock:hover, #window:hover {
	transition: all .3s ease;
	color: @green;
}

#custom-expand, #custom-notification, #clock, #window {
	color: @text;
	padding: 0px 5px;
}

#custom-separator {
	color: @text;
	text-shadow: 0px 0px 1px @text;
	padding: 0px 5px;
}
