* {
    background-image: none;
    font-family: "JetBrains Mono Extrabold";
    font-size: 16px;
}

@import "/home/rapha/.config/colors/colors.css";

window {
    background-color: alpha(@base,.95);
}

button {
    color: @text;
    outline-style: none;
    border: 2px solid alpha(@crust,0);
    background-color: transparent;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    margin: 100px 5px 100px 5px;
    border-radius: 45px;
    box-shadow: none;
    text-shadow: none;
    transition: all .3s ease-in-out;
}

button:focus, button:hover {
	color: transparent;
	background-size: 35%;
}

button:focus {
    margin: 0px 5px 0px 5px;
    border: 2px solid @green;
    background-color: alpha(@green,.5);
    background-size: 50%;
}

button:hover#lock, button:focus#lock {
	background-image: url("/home/rapha/.config/wlogout/icons/lock_dark.png");
} 

button:hover#logout, button:focus#logout {
	background-image: url("/home/rapha/.config/wlogout/icons/logout_dark.png");
}

button:hover#shutdown, button:focus#shutdown {
	background-image: url("/home/rapha/.config/wlogout/icons/power_dark.png");
}

button:hover#reboot, button:focus#reboot {
	background-image: url("/home/rapha/.config/wlogout/icons/reboot_dark.png");
}

#lock {
    background-image: url("/home/rapha/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/rapha/.config/wlogout/icons/logout.png");
}

#shutdown {
    background-image: url("/home/rapha/.config/wlogout/icons/power.png");
}

#reboot {
    background-image: url("/home/rapha/.config/wlogout/icons/reboot.png");
}
