@import ".config/colors/colors.css";
* {
    all:unset;
    font-family: 'JetBrains Mono Extrabold', monospace;
    font-size: 16px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color: transparent;
}

window {
    all:unset;
    padding: 20px;
    border: 1px solid alpha(@green,.8);
    border-radius: 25px;
    background-color: alpha(@base,.9);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
    margin-bottom: 16px;
}
#input {
    all:unset;
    margin: 20px;
    padding: 20px;
    border: 1px solid alpha(@crust,.8);
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px alpha(@mantle,.4);
    border-radius: 25px;
    background-color: alpha(@mantle,.6);
}
#input image {
    border: none;
    color: @blue;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: 1px solid alpha(@crust,.9);
    background-color: alpha(@mantle,.9);
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 15px;
}
#entry:selected {
    box-shadow: 1px 1px 5px alpha(@mantle,.03);
    border: 1px solid @green;
    border-radius: 15px;
    background: linear-gradient(135deg, alpha(@mauve,.6) 10%, alpha(@blue,.6) 40%, alpha(@sky,.6) 60%, alpha(@green,.6) 100%);
}
#entry:selected #text {
    color: @crust;
}
#entry:drop(active) {
    background-color: @red !important;
}
